<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="css\product.css">
</head>
<body>
<div class="column">
    <div class="card">
        <img src="img/robot1.jpg" alt="robot" style="width:100%">
        <h1>Robot logo</h1>
        <p class="price">$19.99</p>
        <p>Some text about the robot</p>
        <p><button>Add to Cart</button></p>
    </div>
</div> 
<div class="column1">
    <div class="card">
        <img src="img/robot1.jpg" alt="robot1" style="width:100%">
        <h1>Robot logo</h1>
        <p class="price">$400</p>
        <p>Some text about the robot</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>
<div class="column2">
    <div class="card">
        <img src="img/robot1.jpg" alt="robot1" style="width:100%">
        <h1>Robot logo</h1>
        <p class="price">$300</p>
        <p>Some text about the robot</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>
<div class="column3">
    <div class="card">
        <img src="img/robot1.jpg" alt="robot1" style="width:100%">
        <h1>Robot logo</h1>
        <p class="price">$200</p>
        <p>Some text about the robot</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>
</body>
</html>