    <!-- Footer -->
    <footer class="">
        <!-- Copyright -->
        <div class="">© 2020 Welcome to my website:
            <a href="index"> ATNShop.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->